@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-button-prev::after{
  color: black ;
  font-size: medium;
}
.swiper > .swiper-button-next::after{
  color: black ;
  font-size: medium;
}